.banner-container{
    display: flex;
    align-items: center;
}
.banner-sec1{
    background-color: #1B252C;
    padding: 95px 90px; 
}
.banner-title{
    font-family: "Source Serif Pro, Semibold";
    font-size: 48px;
    line-height: 60px;
    text-align: center;
    color: white;
}
.divider{
    border: 4px solid #1F39FF;
    width: 102px;
    margin-top: 32px;
    margin-left: auto;
    margin-right: auto;
}

.banner-sec2> img{
    width: 100%;
    height: 320px;
}
//media querie
@media screen and (max-width:328px) {
    .banner-container {
        display: block;
    }
    .banner-sec2 > img {
        width: 100vw;
        height: auto;
    }
    .banner-title {
        font-size: 36px;
        line-height: 42px;
    }
    .banner-sec3 {
        background-color: #1B252C;
        padding: 14px 0px;
        margin-top: -25px;
        margin-left: 10px;
        margin-right: 10px;
    }
}
@media screen and (min-width:328px) and (max-width:768px) {
    .banner-container {
        display: block;
    }
    .banner-sec2 > img {
        width: 100vw;
        height: auto;
    }
    .banner-title {
        font-size: 36px;
        line-height: 42px;
    }
    .banner-sec3 {
        background-color: #1B252C;
        padding: 14px 0px;
        margin-top: -25px;
        margin-left: 15px;
        margin-right: 15px;
    }
}

@media screen and (min-width:768px) and (max-width:1024px) {
    .banner-sec3{
        display: none;
    }
}

@media screen and (min-width:1024px) and (max-width:1280px) {
    .banner-sec3{
        display: none;
    }
}

@media screen and (min-width:1280px) and (max-width:1440px) {
    .banner-sec3{
        display: none;
    }
}

@media screen and (min-width:1440px) and (max-width:1920px) {
    .banner-sec3{
        display: none;
    }
}

@media screen and (min-width:1920px) {
    .banner-sec3cd{
        display: none;
    }
}