.cart{
    margin-top: 33px;
    padding-left: 20px;
    padding-right: 20px;
}
.cart-head > h2{
  // typo(font-family, font-size, line-height, text-align, color)
  @include typo("Source Serif Pro, Semibold", 48px, 60px, center, #172026);

}
.cart-head > hr{
  // divider(margin-top, margin-left, margin-bottom, margin-right)
  @include divider(10px, auto, 0px, auto);
}

.cart-empty > p{
    // typo(font-family, font-size, line-height, text-align, color)
    @include typo("Muli, Regular", 16px, 24px, center, #172026);
}
.start-shopping > a{
    // typo(font-family, font-size, line-height, text-align, color)
    @include typo("Muli, Regular", 14px, 24px, center, #172026);
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
}
.start-shopping > a:hover{
    color:#3D84FF;
}
.start-shopping > a > img {
    width: 16px;
    height: 16px;
    margin-right: 5px;
}
.cart-products{
    margin-top: 40px;
}
.cart-prod-img{
    width: 166.24px;
    height: 199.02px;
}
.cart-buttons > button{
    display: block;
    border: none;
    background-color: white;
    // typo(font-family, font-size, line-height, text-align, color)
    @include typo("Muli, SemiBold", 12px, 14px, left, #172026);
    display: flex;
    align-items: center;
    margin-top: 16.62px;
    margin-bottom: 16.62px;
} 
.cart-buttons > button:hover{
    color:#1F39FF;
}
.cart-buttons > button > img{
    width: 16px;
    height: 16px;
    margin-right: 8px;
}
.cart-prod-desc > h4{
    // typo(font-family, font-size, line-height, text-align, color)
    @include typo("Muli, SemiBold", 20px, 25px, left, #172026);
}
.cart-prod-desc > span{
    display: block;
    // typo(font-family, font-size, line-height, text-align, color)
    @include typo("Muli, Regular", 16px, 24px, left, #172026);
}
.pricing-summary{
    border: 1px solid #D1D3D6;
    border-radius: 2px;
    padding: 32px;
}
.pricing-summary > h4{
    // typo(font-family, font-size, line-height, text-align, color)
    @include typo("Muli, SemiBold", 20px, 25px, left, #172026);
}
.pricing-summary > span{
    display: block;
    // typo(font-family, font-size, line-height, text-align, color)
    @include typo("Muli, Regular", 16px, 24px, left, #172026);
    margin-top: 16px;
    margin-bottom: 16px;
}
.pricing-summary > span:nth-child(7){
    font-family: "Muli, Bold";
}

.checkout-btn > button{
    height: 40px;
    width: 240px;
    background-color: #1F39FF;
    border-radius: 28px;
    // typo(font-family, font-size, line-height, text-align, color)
    @include typo("Muli, Bold", 14px, 16px, center, #FFFFFF);
    text-transform: uppercase;
    border: none;
    display: block;
    margin: 16px auto;
}
.checkout-btn > a{
    text-decoration: none;
}
.checkout-btn > a > img{
    display: block;
    margin: 16px auto;
}

//accrodian

.accrodian {
    position: absolute;
    opacity: 0;
    z-index: -1;
  }
  // Layout
  .row {
    display:flex;
    .col {
      flex:1;
      &:last-child {
        margin-left: 1em;
      }
    }
  }
  /* Accordion styles */
  .tabs {
    overflow: hidden;
    border: 1px solid #D1D3D6;
    border-radius: 2px;
    margin-top: 24px;
    margin-right: 16px;
  }
  .tab {
    width: 100%;
    color: #172026;
    overflow: hidden;
    border: 1px solid #D1D3D6;
    &-label {
      display: flex;
      justify-content: space-between;
      padding: 1em;
      font-weight: bold;
      cursor: pointer;
      /* Icon */
      &:hover {
        background: darken(#D1D3D6, 10%);
      }
      &::after {
        content: "\276F";
        width: 1em;
        height: 1em;
        text-align: center;
        transition: all .35s;
      }
    }
    &-content {
      max-height: 0;
      padding: 0 1em;
      color: #172026;
      background: white;
      transition: all .35s;
    }
    &-close {
      display: flex;
      justify-content: flex-end;
      padding: 1em;
      font-size: 0.75em;
      background: #D1D3D6;
      cursor: pointer;
      &:hover {
        background: darken(#D1D3D6, 10%);
      }
    }
  }
  
  .tab-label{
    // typo(font-family, font-size, line-height, text-align, color)
    @include typo("Muli, Regular", 20px, 25px, left, #172026);
  }
  // :checked
  .accrodian:checked {
    + .tab-label {
      background: darken(#D1D3D6, 10%);
      &::after {
        transform: rotate(90deg);
      }
    }
    ~ .tab-content {
      max-height: 100vh;
      padding: 1em;
      // typo(font-family, font-size, line-height, text-align, color)
      @include typo("Muli, Regular", 14px, 21px, left, #172026);
    }
  }
  
  .recent{
    margin-top: 64px;
  }
  .recent-head{
    // typo(font-family, font-size, line-height, text-align, color)
    @include typo("Source Serif Pro, Semibold", 48px, 60px, center, #172026);
  }
  
//media querie
@media screen and (max-width:328px){
  .cart-head > h2 {
    font-size: 28px;
  }
  .cart-prod-img {
    width: 100px;
    height: 119px;
    margin: 0 auto;
    display: block;
  }
  .tabs {
    margin-right: 0px;
  }
  .checkout-btn > button {
    width: 180px;
  }
  .checkout-btn > a > img {
    width: 180px;
    height: auto;
  }
  .recent{
    display: none;
  }
}

@media screen and (min-width:328px) and (max-width:768px){
  .cart-head > h2 {
    font-size: 28px;
  }
  .cart-prod-img {
    width: 100px;
    height: 119px;
    margin: 0 auto;
    display: block;
  }
  .tabs {
    margin-right: 0px;
  }
  .checkout-btn > button {
    width: 180px;
  }
  .checkout-btn > a > img {
    width: 180px;
    height: auto;
  }
  .recent{
    display: none;
  }
}

@media screen and (min-width:768px) and (max-width:1024px){
  .tabs {
    margin-right: 0px;
  }
  .recent{
    display: none;
  }
    
  }
@media screen and (min-width:1024px) and (max-width:1280px){
  .tabs {
    margin-right: 0px;
  }
  .recent{
    display: none;
  }
  }
@media screen and (min-width:1280px) and (max-width:1440px){
    
  }
@media screen and (min-width:1440px) and (max-width:1920px){
   
  }
@media screen and (min-width:1920px){
   
  }